<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=no>
    <title>Dashboard</title>
    {{!--
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css"> --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/icons/font/bootstrap-icons.min.css">
    {{!--
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/main.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/main.min.js"></script> --}}
    <link rel="stylesheet" href="/dashboard.css">

    <style>



    </style>
</head>

<body>
    <header class="container-fluid" style="width: 100%;">
        <img src="/images/logotele1.jpg" alt="logo" srcset="">
        {{!-- <h3 style="margin-top: 10px; font-size: 15px;">Welcome Ade</h3> --}}
        <h2 class="dashboardtext">Dashboard</h2>
        <form class="d-flex" role="search">
            <input class="form-control me-2 search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success searchbtn" type="submit">Search</button>
        </form>
    </header>


    <a href="/dashboard/edit-profile/{{patient.patient_id}}" type="button" class="btn btn-light profile"><i
            class="bi bi-person-square">
            Edit Profile</i></a>


    <div class="container">
        <input type="checkbox" id="check">
        <label for="check">
            <h3 class="menu"><i class="bi bi-list" id="btn"></i>Menu</h3>
            <i class="bi bi-x-circle-fill" id="cancel"></i>
        </label>
        <nav class="navbars">
            <ul class="toplist">
                <img src="/images/logotele1.jpg" alt="logo" srcset="">
                <h2 style="max-width: fit-content; font-size:100%">Welcome <br>
                    {{patient.firstname}}</h2>


                <li><a href=""><i class="bi bi-house-up-fill"></i> Home</a></li>

                <li><a href="/bookappointment"><i class="bi bi-bookmarks-fill"></i> Book Appointment</a></li>

                <li><a href="/patient/viewdoctor"><i class="bi bi-person-fill"></i> View Doctors</a></li>

                <li><a href=""><i class="bi">&#x1F9EA;</i> Labs</a></li>

                <li><a href=""><i class="bi bi-capsule"></i> Medicine</a></li>
                <li>
                <li><a href=""><i class="bi bi-clipboard2-pulse"></i> Medical Test</a></li>
                <li>
                <li><a href=""><i class="bi bi-prescription2"></i></i> Prescriptions</a></li>
                <li>
                <li><a href=""><i class="bi bi-file-medical"></i> Health Record</a></li>
                <li>
                    <ul class="bottomlist">

                        <li><a href=""><i class="bi bi-gear-fill"></i> General</a></li>

                        <li><a href="/logout"><i class="bi bi-box-arrow-left"></i> </i>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <section>
            <div class="row">
                <div class="col-lg col-md-4 col-sm-12" style="background-color: #ccc5b9;  ">
                    <img src="/images/heartbeat.png" alt="" class="heart">
                    <h5 class="imagetext">Heart rate</h5>
                    <p class="imagetext">90BPM</p>
                </div>
                <div class="col-lg col-md-4 col-sm-12 " style="background-color: #403d39;  ">
                    <img src="/images/weight-management.png" alt="" class="heart">
                    <h5 class="imagetext" style="margin-left: 20%;">Total Weight</h5>
                    <p class="imagetext">72KG</p>
                </div>
                <div class="col-lg col-md-4 col-sm-12 " style="background-color: #EB5E28;  ">
                    <img src="/images/Human-red-blood-cells.png" alt="" class="heart">
                    <h5 class="imagetext">Blood cells</h5>
                    <p class="imagetext">1500μL</p>
                </div>
            </div>




            <div class="row mt-3" style="background-color: #e9edc9;">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h4 style="color: white;">Book Your Appointment below</h4>
                    <a href="/bookappointment" id="calendar"></a></a>
                </div>

                <div class="col-lg col-md col-sm">

                    <div class="row" style="padding-top: 20px;">
                        <div class="col-lg">
                            <img src="/images/ourdoctor.png" alt="">
                        </div>
                        <div class="col-lg" style="margin-left: -100px;">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <img src="/images/surgeryprocess.png" alt="">
                        </div>
                        <div class="col-lg" style="margin-left: -100px;">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <img src="/images/labworkers.png" alt="">
                        </div>
                        <div class="col-lg" style="margin-left: -100px;">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>



                </div>
            </div>




            <div class="row mt-3">
                <div class="col-lg col-md-4 col-sm-12 " style="background-color: #ccc5b9;">
                    
                    <img src="/images/team-2copy.jpg" alt="" class="heart">
                    <h4 class="doctortext">Mike Myers</h3>
                        <p style="margin: 40px">Appointment: 3:00pm</p>
                        <p class="pdoctortext"><b>Primary Concern: </b>Persistent Blurred Vision and significant eye
                            discomfort, diagnose and manage vision problems, including refractive errors like myopia,
                            hyperopia, and astigmatism. They also treat common eye conditions such as dry eye,
                            infections, and allergies.</p>
                        <a href="https://wa.me/2348140470626" target="_blank" style="font-size: 15px;"
                            class="btn btn-light directmessage"><i class="bi bi-whatsapp"></i> Direct Message</a>

                </div>
                <div class="col-lg col-md-4 col-sm-12 " style="background-color: #ccc5b9; line-height:1rem; ">

                    <img src="/images/team-2copy.jpg" alt="" class="heart">
                    <h4 class="doctortext">Mike Myers</h3>
                        <p style="margin: 40px">Appointment: 3:00pm</p>
                        <p class="pdoctortext"><b>Primary Concern: </b>Persistent Blurred Vision and significant eye
                            discomfort, diagnose and manage vision problems, including refractive errors like myopia,
                            hyperopia, and astigmatism. They also treat common eye conditions such as dry eye,
                            infections, and allergies.</p>
                        <a href="https://wa.me/2348140470626" target="_blank" style="font-size: 15px;"
                            class="btn btn-light directmessage"><i class="bi bi-whatsapp"></i> Direct Message</a>
                </div>
                <div class="col-lg col-md-4 col-sm-12" style="background-color: #ccc5b9; ">
                    <img src="/images/team-1copy.jpg" alt="" class="heart">
                    <h4 class="doctortext">Jordan Michael</h4>
                    <p class="pdoctortext">Lorem ipsum dolor sit amet consecteturvident debitis laborum</p>
                    <a href="https://wa.me/2348140470626" target="_blank" style="font-size: 15px;"
                        class="btn btn-light directmessage"><i class="bi bi-whatsapp"></i> Direct Message</a>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-lg-9 col-md-9 col-sm-9" style="background-color: #e9edc9;; width:100%">
                    <h5 style="width:fit-content">Explore Departments <a href="">See More</a></h5>
                </div>
                <div class="col-lg col-md col-sm" style="justify-items: center; background-color:white">
                    <img src="/images/cadiologyimg.jpg" alt="Cadiology Image">
                    <h4>Cardiologist</h4>
                </div>

                <div class="col-lg col-md col-sm" style="justify-items: center; background-color:white">
                    <img src="/images/laboratoryimg.jpg" alt="Laboratory Image">
                    <h4>Laboratory</h4>
                </div>
                <div class="col-lg col-md col-sm" style="justify-items: center; background-color:white">
                    <img src="/images/dentalimg.jpg" alt="Dental image">
                    <h4>Dentist</h4>
                </div>
                {{!-- <div class="col-lg-4">
                    <h3>Hello there</h3>
                </div> --}}





            </div>
            <div class="row mt-3">
                <div class="col-lg-9 col-md-9 col-sm-9" style="background-color: #e9edc9;; width:100%">
                    <h5 style="width:fit-content">Latest Health Tips <a href="">See More</a></h5>
                </div>
                <div class="col-lg col-md col-sm" style="justify-items: center; background-color:white">
                    <img src="/images/cadiologyimg.jpg" alt="Cadiology Image">
                    <p class="tipsprg">Sugary drinks like sodas, fruit juices, and sweetened teas are the primary source
                        of added sugar
                        in the American diet. Unfortunately, findings from several studies point to sugar-sweetened
                        beverages increasing risk
                        of heart disease and type 2 diabetes, even in people who are not carrying excess body fat</p>
                </div>

                <div class="col-lg col-md col-sm" style="justify-items: center; background-color:white">
                    <img src="/images/laboratoryimg.jpg" alt="Laboratory Image">
                    <p class="tipsprg">Some people avoid nuts because they are high in fat. However, nuts and seeds are
                        incredibly
                        nutritious. They are packed with protein, fiber, and a variety of vitamins and minerals.
                        Nuts may help you lose weight and reduce the risk of developing type 2 diabetes and heart
                        disease.</p>
                </div>
                <div class="col-lg col-md col-sm" style="justify-items: center; background-color:white">
                    <img src="/images/dentalimg.jpg" alt="Dental image">
                    <p class="tipsprg">Ultra-processed foods (UPFs) are foods containing ingredients that are
                        significantly modified
                        from their original form. They often contain additives like added sugar, highly refined oil,
                        salt, preservatives, artificial sweeteners, colors, and flavors as well.</p>
                </div>
                {{!-- <div class="col-lg-4">
                    <h3>Hello there</h3>
                </div> --}}





            </div>

        </section>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const calendarEl = document.getElementById('calendar')

        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        })
        calendar.render();

    })
</script>
<script src="/js/bootstrap.bundle.min.js"></script>

</html>





























































































































{{!-- Design by Kelani Yunus Oluwadamilare
email yunuskelani2@gmail.com//
phone: +2348140470626 --}}