<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <title>Medics Home</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/icons/font/bootstrap-icons.min.css"> --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/home.css">
  <link rel="stylesheet" href="/homestyle.css">
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="logotele1.jpg" alt="LOGO"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com" target="_blank">Message Us <i
                  class="bi bi-facebook"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.twitter.com" target="_blank">Twitter <i
                  class="bi bi-twitter"></i></a></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:kelanikdas1@gmail.com" target="_blank">Chat Us <i
                  class="bi bi-envelope-arrow-down-fill"></i></a></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://wa.me/2348140470626" target="_blank">Mail Us <i
                  class="bi bi-whatsapp"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tel:+2348140470626" target="_blank">Call Us <i
                  class="bi bi-telephone-fill"></i></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <label class="btn btn-light">Logins and Register</label>
              </a>
              <ul class="dropdown-menu" style="margin-left: 50px;">
                 <li><a class="dropdown-item" href="/patient">Patient Page</a>
                <li><a class="dropdown-item" href="/doctor">Doctor's Page</a> </li>
                <li><a class="dropdown-item" href="/admin">Admin Page</a></li>
                {{!-- <li>
                  <hr class="dropdown-divider">
                </li> --}}
                {{!-- <li><a class="dropdown-item" href="/bookappointment">book AppointMent</a></li> --}}
              </ul>
            </li>
            {{!-- <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li> --}}
          </ul>
          {{!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> --}}
        </div>
      </div>
    </nav>
  </div>

  <section class="section-light">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="sectblue">
          <h1 class="mb-5" style="text-align: center;">
            CareLink<br>
            Care Anywhere, Anytime.</h1>

          <div class="sectdet">
            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-4">
                <h1>Over 100</h1>
                <h3>Doctors</h3>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4">
                <h1>1000+</h1>
                <h3>Medical Staff</h3>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4">
                <h1>15000 + </h1>
                <h3>Patients in Our Care</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="sect2bg">
          <img src="sect2bg.jpg" alt="" />
          <h2>CARDIOLOGY</h2>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container sectlight">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="sect3.1img1.jpg" alt="" class="sect3img1">
          <img src="sect3img2.jpg" alt="" class="sect3img2">
          <h2 class="sect3h2">BONE CARE</h2>

        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 about">
          <div class="aboutus">
            <span>
              
            </span>
            <h1>Why You Should Trust Us?</h1>
            <p>When choosing a telemedicine platform, trust is essential, and we prioritize earning yours. 
              Our website combines innovative technology with user-friendly design to provide a secure, efficient, and reliable space for connecting with licensed healthcare professionals. 
              Each medical expert on our platform undergoes a rigorous verification process to ensure they meet the highest standards of care. 
              We are committed to protecting your sensitive information through advanced encryption and compliance with strict data privacy regulations. 
              From prompt consultations to personalized follow-up care, we are dedicated to delivering high-quality, accessible, and compassionate healthcare tailored to your needs.</p>

            <ul>
              <li><mark class="circle">&#9989;</mark> Quality Health Care</li>
              <li>&#9989; Qualified Doctors</li>
              <li>&#9989; Medical Research Professionals</li>
            </ul>
            <button class="btnabout">Read More</button>
          </div>
        </div>
      </div>


    </div>
    </div>
  </section>
  <!-- Section 4 of the page starts here -->

  <section>
    <div class="services">
      <h1>Our Care Departments</h1>

      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

          <div class="cardimg">
            <img src="cadiologyimg.jpg" alt="">
            <h4>Cardiology</h4><br><br>
            <div class="card-body">
              Cardiology is focused on heart health, diagnosing and treating conditions such as hypertension, heart disease, and arrhythmias. 
              Our Cardiologists provide expert care for improving cardiovascular well-being and preventing heart-related complications.
              <br><br>
              <button><b style="font-weight: 900;">+</b> Read More</button>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

          <div class="cardimg">
            <img src="pulmonaryimg.png" alt="">
            <h4>Pulmonology</h4><br><br>
            <div class="card-body">
              Pulmonology specializes in diagnosing and managing respiratory conditions, including asthma, COPD, and lung infections. 
              Pulmonologists help improve lung function and breathing-related health issues.
              <br><br>
              <button><b style="font-weight: 900;">+</b> Read More</button>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-12 cardbox">
          <div class="cardimg">
            <span><img src="nurologyimg.png" alt="">
              <h4>Neurology</h4>
            </span><br><br>
            <div class="card-body">
            Neurology focuses on the diagnosis, treatment, and management of disorders affecting the brain, spinal cord, and nervous system
             Our Neurologists diagnose and treat disorders of the brain, spine, and nervous system, 
             including migraines, epilepsy, and neurological conditions affecting movement, memory, and sensory functions.
              <br><br>
              <button><b style="font-weight: 900;">+</b> Read More</button>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

          <div class="cardimg">
            <img src="orthopedics.jpg" alt="">
            <h4>Orthopedics</h4><br><br>
            <div class="card-body">
             Orthopedics involves diagnosis and treatment of issues related to bones, joints, muscles, and tendons. 
             Our Orthopedics manage fractures, arthritis, and sports injuries to restore mobility and reduce pain.
              <br><br>
              <button><b style="font-weight: 900;">+</b> Read More</button>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

          <div class="cardimg">
            <img src="dentalimg.jpg" alt="">
            <h4>Dental Surgery</h4><br><br>
            <div class="card-body">
              Dental surgeons provide specialized care for oral health, focusing on surgical procedures such as extractions, implants, and treating jaw or gum disorders for a healthier smile.
              <br><br>
              <button><b style="font-weight: 900;">+</b> Read More</button>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

          <div class="cardimg">
            <img src="laboratoryimg.jpg" alt="">
            <h4>Lab Medicine</h4><br><br>
            <div class="card-body">
              Laboratory Medicine supports accurate diagnosis by analyzing blood, tissue, and other samples.
              Our specialists work behind the scenes to deliver precise test results that guide your treatment plans.
              <br><br>
              <button><b style="font-weight: 900;">+</b> Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="sectforcont">
    <div class="row">
      <div class="sect4cont"></div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="bgblue">
          <h1>Why Choose Us?</h1>
          <p>Choose us for your telemedicine needs because we understand the critical importance of accessible, timely, and reliable medical care. 
            Our platform addresses the growing need for healthcare solutions that eliminate long wait times, overcome geographical barriers, and provide immediate attention in urgent situations. 
            We offer 24/7 access to certified medical professionals, ensuring that patients can consult doctors whenever health concerns arise. 
            For those managing chronic illnesses, our platform supports consistent follow-ups and medication management without the need for frequent in-person visits. 
            Additionally, we cater to patients with limited mobility, busy schedules, or those living in remote areas, ensuring no one is left without the care they deserve. 
            With a focus on affordability, convenience, and the highest standards of medical expertise, we strive to meet the evolving healthcare demands of today's world.</p>
          <div class="listing">
            <ul>
              <li><img src="Doctor.png" alt=""></li>
              <li>Experienced
                <h4>Specialists</h4>
              </li>
              <li><img src="mark.png" alt=""></li>
              <li>Quality
                <h4>Services</h4>
              </li>
            </ul>
            <ul>
              <li><img src="first_aid.jpg" alt=""></li>
              <li>Smart
                <h4>Consultations</h4>
              </li>
              <li><img src="support.png" alt=""></li>
              <li> 24/7 <h4>Support</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-4 col-sm-12">
        <div class="futureimg">
          <img src="featureimg1.jpg" alt="">
        </div>
      </div>




    </div>
    </div>
  </section>


  <!-- section 5 of the page -->
  <section class="sect4">
    <h1 class="mb-3">Our Specialized Doctors</h1>
    <div class="doctor">
      <div class="row">

        <div class="card1">
          <img src="team-3.jpg" alt="">
          <div class="cardbody">
            <h5>Lily Caroline </h5>
            <h6>Dentistry</h6>
          </div>

          <ul>
            <a href="">
              <li><img src="facebookicon.png" alt=""></li>
            </a>
            <a href="">
              <li><img src="twitter.avif" alt=""></li>
            </a>
            <a href="">
              <li><img src="whatsappicon.png" alt=""></li>
            </a>
          </ul>

        </div>

        <div class="card1">
          <img src="team-1.jpg" alt="">
          <div class="cardbody">
            <h5>Brie Larson	</h5>
            <h6>Cardiology</h6>
          </div>

          <ul>
            <a href="">
              <li><img src="facebookicon.png" alt=""></li>
            </a>
            <a href="">
              <li><img src="twitter.avif" alt=""></li>
            </a>
            <a href="">
              <li><img src="whatsappicon.png" alt=""></li>
            </a>
          </ul>

        </div>

        <div class="card1">
          <img src="team-2.jpg" alt="">
          <div class="cardbody">
            <h5>Tony Barrymore	</h5>
            <h6>Orthopedics</h6>
          </div>

          <ul>
            <a href="">
              <li><img src="facebookicon.png" alt=""></li>
            </a>
            <a href="">
              <li><img src="twitter.avif" alt=""></li>
            </a>
            <a href="">
              <li><img src="whatsappicon.png" alt=""></li>
            </a>
          </ul>

        </div>

        <div class="card1">
          <img src="team-4.jpg" alt="">
          <div class="cardbody">
            <h5>Partick Schifter	</h5>
            <h6>Surgery</h6>
          </div>

          <ul>
            <a href="">
              <li><img src="facebookicon.png" alt=""></li>
            </a>
            <a href="">
              <li><img src="twitter.avif" alt=""></li>
            </a>
            <a href="">
              <li><img src="whatsappicon.png" alt=""></li>
            </a>
          </ul>

        </div>
      </div>
    </div>
  </section>


  <footer style="background-color: currentColor;">


  </footer>

{{!-- <footer class="mt-5" style="background-color: aquamarine;">
  <div class="sectfoot">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-12">
<h3>Address</h3>
				<ul class="line">
					<li><b>&#61987;</b> 123 street Gaa Odota</li>
					<li><b>&#128222;</b> +234-814-047-0626</li>
					<li><b>&#128231;</b> Info@example.com</li>
					<ul>
						<li><a href=""><img src="twitter.avif" alt=""></a></li>
						<li><a href=""><img src="facebookicon.png" alt=""></a></li>
						<li><a href=""><img src="whatsappicon.png" alt=""></a></li>
					</ul>
				</ul>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-12">
				<h3>Services</h3>
				<ul>
				<li style="font-weight: 900;"><b><b>&#x3E;</b></b>  Cadiology</li>
				<li style="font-weight: 900;">&#x3E;  Surgery</li>
				<li style="font-weight: 900;">&#x3E;  Pulmonary</li>
				<li style="font-weight: 900;">&#x3E;  Neurology</li>
				<li style="font-weight: 900;">&#x3E;  Orthopedics</li>
				<li style="font-weight: 900;">&#x3E;  Laboratory</li>
			</ul>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-12">
				<h3>Quick Links</h3>
				<ul>
					<li>&#x3E;<a href="">  About Us</a></li>
					<li>&#x3E; <a href=""> Contact Us</a></li>
					<li>&#x3E; <a href=""> Our Services</a></li>
					<li>&#x3E; <a href=""> Terms & Condition</a></li>
					<li>&#x3E; <a href=""> Support</a></li>
				</ul>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-12">
				<h3>Newsletter</h3>
				<h4>Lorem ipsum dolor sit amet consectetur, <br>
					adipisicing elit. Fuga</h4>
				<input type="email" placeholder="Email.."> <button type="submit">Sign Up</button>
			</div>
		</div>
	</div>
</footer> --}}










      {{!-- <script src="/js/bootstrap.bundle.min.js"></script> --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js
      "></script>
  <script scr="home.js"></script>
</body>

</html>